@use "components/variables" as v;

.App {
	background-color: v.$background;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	color: v.$text-color;
}

.App-link {
	color: #61dafb;
}
